doctype html
//
  Brad Hodkinson
  03/25/19
  CSE 330
  Module 6 GroupChat
head
  // Set up settings
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Simple multi-room chat')
  meta(name='keywords' content='GroupChat')
  meta(name='author' content='Brad Hodkinson')
  // Link the icon, javascript and css
  link(rel='shortcut icon' type='image/png' href='/assets/icons/favicon.ico')
  link(rel='stylesheet' href='/stylesheets/404.css')


  title Page not found
.background
  .content-404
    img(src='/assets/images/404.png' alt='404 Error')
  h1 This is not the page you are looking for
